* {
    font-family: 'Roboto', serif;
    font-size: 16px;
}
body {
    margin: 0px 20px 20px;
    padding: 0;
    background-color: #e1f5fe;
}
h1 {
    font-family: 'Brush Script MT', cursive;
    font-size: 70px;
    text-align: center;
    color: #3e0da5;
    margin: 0;
}
textarea {
    width: 98%;
    height: 100px;
    font-size: 20px;
    margin-bottom: 10px;
    padding: 10px;
    border: 3px solid #3e0da5;
    border-radius: 5px;
}
ul {
    background: white;
    list-style: none;
    padding: 0 20px 5px 20px;
    border: 3px solid #3e0da5;
    border-radius: 10px;
}
li {
    margin: 5px 0;
    padding: 10px;
    border-bottom: 2px solid #3e0da5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #3e0da5;
    color: #e1f5fe;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0  0 10px 20px;
}
#add {
    font-size: 20px;
    padding: 15px 30px;
}
button:hover {
    background-color: #2c0975;
}
.liButton {
    padding: 10px 20px;
    margin: 0;
}
#delete {
    color: #faa0a0;
}
#edit {
    color: #aaff00;
}